@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.field {
  @include flex-container(column, baseline, normal);

  &__label {
    margin-bottom: 0.5rem;
  }

  &__input {
    margin-bottom: 1rem;
    border: 1px solid $text-color;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: inherit;

    &--invalid {
      border: 3px solid $accent-color;
    }
  }
}
