@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.layout {
  @include flex-container(column, space-around, flex-start);
  @include container;

  &__header {
    @include flex-container(row, flex-start, normal);
    width: 100%;
    margin-top: 3rem;

    &--profile {
      margin-top: 0.5rem;
    }

    &:first-child {
      margin-top: 2rem;
    }
  }

  &__title {
    color: $text-color;

    &--profile {
      margin: 0;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__login-section {
    @include flex-container(column, center, center);
    margin-top: 2rem;
  }

  &__login {
    color: $text-color;
  }

  &__link {
    color: $text-color;
    font-weight: 600;
    text-decoration: none;
    background-color: $primary-color;
    padding: 1rem;
    border-radius: 5px;
  }

  &__top-media {
    @include flex-container(row, flex-start, normal);
    @include container;
  }

  &__top-title {
    margin: 2rem 0 1rem 0;
    width: 40%;
  }

  &__top-blocks {
    @include flex-container(column, center, center);
    margin-right: 1rem;
    width: 44.5%;
  }

  &__media {
    @include flex-container(row, space-between, center);
    width: 100%;

    &:last-child {
      justify-content: flex-end;
    }
  }

  &__watch {
    width: 100%;
  }

  &__search-bar {
    margin-top: 2rem;
    color: $text-color;
    font-weight: 400;
    background-color: $primary-color;
    border-radius: 10px;
    border: 2px solid $secondary-color;
    font-size: 1rem;
    width: 25rem;
    padding: 1rem 3rem;
    background-image: url("../../assets/images/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 13px center;

    &::placeholder {
      color: $text-color;
      font-weight: 400;
    }

    &:focus {
      outline: none;
      border: 2px solid $accent-color;
    }
  }
}
