@use "variables" as *;
@use "fonts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
::placeholder,
button,
input {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "sans-serif";
}

body {
  background-color: $background-color;
}

a {
  text-decoration: none;
}

::placeholder {
  color: $background-color;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
