@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.content {
  @include flex-container(row, center, center);
  background-color: $secondary-color;
  overflow-x: auto;
  width: 80%;
  height: 12rem;
  padding: 1rem;
  border-radius: 5px;

  &--top-media {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    padding-right: 1rem;
  }

  &__icon {
    cursor: pointer;
    width: 8%;
    position: absolute;
    right: 13rem;
  }
}
