@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.item {
  height: 10rem;

  &:last-child {
    padding-right: 1rem;
  }

  &--top-media {
    width: 100%;
  }
}
