@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.test {
  color: white;
  font-size: 1rem;
}

.home-layout {
  @include flex-container(column, space-around, flex-start);
  @include container;

  &__header {
    @include flex-container(row, flex-start, normal);
    width: 100%;
    margin-top: 3rem;

    &:first-child {
      margin-top: 2rem;
    }
  }

  &__title {
    color: $text-color;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__login-section {
    @include flex-container(column, center, center);
    margin-top: 2rem;
  }

  &__login {
    color: $text-color;
  }

  &__link {
    color: $text-color;
    font-weight: 600;
    text-decoration: none;
    background-color: $primary-color;
    padding: 1rem;
    border-radius: 5px;
  }

  &__top-media {
    @include flex-container(row, flex-start, normal);
    @include container;
  }

  &__top-title {
    margin: 2rem 0 1rem 0;
    width: 40%;
  }

  &__top-blocks {
    @include flex-container(column, center, center);
    margin-right: 1rem;
    width: 44.5%;
  }
}
